@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
 }

 body{

    font-family: 'Open Sans',san-serif;
    background:#fff;
    color:#333;
    line-height:1.6;
 }

 ul{
     list-style:none;
 }

 a{
   color:#333;
    text-decoration:none;
 }

 h1,h2{
     font-weight:300;
     line-height:1.2;

 }
 p{
     margin:10px 0;
 }

 img{

    width:100%;
 }
 /*Navbar*/

 #navbar{

    display:flex;
    align-items:center;
    justify-content:space-between;/*edge leger ek jagah or ul ek jagah*/
    background-color:#333;
    color:#fff;
    opacity:0.8;
    width:100%;
    height:70px;
    position:fixed;
    top:0px;
    padding:0 30px;/*right left*/
    transition:0.5s;

 }
 .navbar .top{
     background:transparent;
 }
 #navbar a{ 
     color:#fff;
    padding:10px 20px;
margin:0 5px;
}
#navbar a:hover{
    border-bottom:#28a745 2px solid;
}
 #navbar ul{display:flex; }

 h1{
     font-weight:400;/*ye apn ne daala hai san website se*/
 }

 /*Header*/
 .hero{

    background: url('../images/image_resources/home/showcase.jpg') no-repeat center center/cover;
    height:100vh;
    color:#fff;
    position:relative;
 }

 .hero .content{

    display:flex;
    flex-direction:column;/*the sky is limit or neeche wala coloumn bnayenge*/
    align-items:center;
    justify-content:center;
    text-align:center;
    height:100%;/*ab height parent ki heightke barabar ho gyi*/
    padding:0 20px;
 }
 .hero .content h1{
    font-size:55px; 
}
     .hero .content p{
     font-size:23px;
     max-width:600px;/*no scroll bar*/
     margin:20px 0 30px;

 }

 .hero::before{/*ye edgelegar ke side mein fit hoga*/
     content:'';/*yja pe mene site ko opacque bnaya*/
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background:rgba(0,0,0,.6);/*red green blue alpha opace bnanae ke liye prr sky bhi opacque ho jaayega*/
      }
.hero *{
    z-index:10;/*sky is limit ko clear bnanae ke liye*/
}/*higher the z index closer to me it is*/

.hero.blog{
    background:url('../images/image_resources/home/blog.jpg') no-repeat center center/cover;
    height:30vh;
}

/*Icons*/
.icon{

    padding:20px;
}
.icon h3{

    font-weight:bold;
    margin-bottom:15px;
}
.icon i{

    background-color:#28a745;
    color:#fff;
    padding: 16px;
    border-radius:50%;
    margin-bottom:15px;
}

.cases img:hover{
opacity:0.7;


}
.team img{
    border-radius:50%;


}
/*Call back Form*/
.callback-form{
    width:100%;
    padding:20px 0;
}
.callback-form label{
   
  display:block;
  margin-bottom:5px;
}
.callback-form .form-control{
    margin-bottom:15px;
}
.callback-form input{
 width:100%;
 padding:4px;
 height:40px;
 border:#f5f5f5 1px solid;

}
.callback-form input:focus{
    outline-color:#28a745;
}

.callback-form .btn{
    padding:12px 0;
    margin-top:20px;
}

/*POst*/
.post{
    padding:50px 30px;
}
.post h2{
    font-size:40px;
    margin-bottom: 20px;
    padding-bottom:10px;
    border-bottom:#ccc solid 1px;
}
.post .meta{
    margin-bottom:30px;
}
.post img{
    width:300px;
    border-radius:50%;
    display:block;
    margin:0 auto 30px;


}
/*footer*/
.footer{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    height:200px;

}

.footer a{

    color:#fff;
}
.footer a:hover{
    color:#28a745;
}
.footer .social >*{
    margin-right:30px;
}

/*******Mobile*****/

@media(max-width:760px)
{
    #navbar{
        flex-direction: column;
        height:120px;
        padding:20px;
    }
   #navbar a{
       padding:10px 10px;
       margin:0 3px;
   }

   .flex-items{

    flex-direction:columns;
   }
   .flex-columns .columns , .flex-grid .column{
       flex:100%;
       max-width:100%;
   }
   .team img{

    width:70%;
   }
}

